<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tim 회원리스트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>관리자수정페이지</h1>
    <table width= "100%" border="1">
      <tr>
        <th>DELETE</th>
        <th>EDIT</th>
        <th>idnum</th>
        <th>ID</th>
        <th>NAME</th>
        <th>Phonenum</th>
        <th>email</th>
      </tr>
      <% prodList.forEach(function(item, index){%>
        <tr>
          <td><a href='/delete/<%=item.id%>'>Delete</a></td>
          <td><a href='/edit/<%=item.id%>'>Edit</a></td>
          <td><%=item.id%></td>
          <td><%=item.username%></td>
          <td><%=item.displayName%></td>
          <td><%=item.phonenum%></td>
          <td><%=item.email%></td>
        </tr>
      <% }); %>
    </table>
    <p>
    <a href="/welcome">뒤로가기</a>
    </p>
    </body>

</html>
